body {
   margin: 0;
   padding: 0;
   background: #5e626e;
}

.slidershow{
  width: 950px;
  height: 550px;
  overflow: hidden;
}

.middle{
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  box-shadow: 15px 20px 10px black;
}

.navigation{
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar{
  width: 100px;
  height: 20px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 1.5s;
}

.bar:hover{
  background: #fff;
}

input[name="r"]{
  position: absolute;
  visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0%;
}
#r2:checked~ .s1{
  margin-left: -20%;
}
#r3:checked~ .s1{
  margin-left: -40%;
}
#r4:checked~ .s1{
  margin-left: -60%;
}
#r5:checked~ .s1{
  margin-left: -80%;
}

.geral{
  width: 1320px;
  margin: 0 auto;
}

header{
  width: 100%;
  height: 600;
}

a{
  text-decoration: none;
}

nav{
  background: black;
  width: 1320px;
  margin-left: 1px;
  position: relative;
}

nav:hover{
  background: black;
  width: 1320px;
  margin-left: 1px;
}

nav ul li{
  background: black;
  color: white;
  display: inline-block;
  padding: 20px 35px;
  position: relative;
}

nav ul li:hover{
  background: white;
  color: black;
  cursor: pointer;
  border: 1px solid white;
}
